__pycache__
.pytest_cache
setup_env.sh
plugin/help
plugin/zip_build

field-data-capture.gpkg
*.gpkg-journal
*.sqlite-journal
er-diagram.png
er-diagram.md
simple_lithology_parents.csv
ttl-graph.png

.vscode
_LOCAL_*
mergin_projects/
dic_rock_etc.dump
dic_rock_etc.sqlite
data_preparation_scripts/*.pickle
