__pycache__
.pytest_cache
setup_env.sh
CRAG/zip_build

field-data-capture.gpkg
*.gpkg-journal
*.sqlite-journal
er-diagram*.png
er-diagram.md
simple_lithology_parents.csv
ttl-graph.png

.vscode
_LOCAL_*
mergin_projects/
dic_rock_etc.dump
dic_rock_etc.sqlite
data_preparation_scripts/*.pickle
.coverage

docs/**/build
