__pycache__
.pytest_cache
setup_env.sh
plugin/help/build

field-data-capture.gpkg
er-diagram.png
simple_lithology_parents.csv
ttl-graph.png

.vscode
_LOCAL_*
dic_rock_etc.dump
dic_rock_etc.sqlite
data_preparation_scripts/*.pickle
